@font-face {
  font-family: "Customfont";
  src: url("./assets/fonts/Roboto-VariableFont_wdth,wght.ttf");
}

:root {
  color: white;
  background-color: var(--color-negro);
  font-family: Customfont;
  --color-negro:#202020;
  --color-dorado: #ffd700;
  --color-azul: rgba(0, 0, 139, 0.4);
  font-size: 1.5vw;
}



#root {
  width: 700px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
}


button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #213547;
  }
}
