

@font-face{
font-family: "Customfont";
src: url('./assets/fonts/Roboto-Light.ttf');

}

body {
  background-color: wheat;
  font-family:"Customfont" ;
  padding: 0%;
  color: white;
  background-color: black;
}

.div-tarjeta {
  border: 5px solid red;
  background-color: #2e2e2e;
  justify-content: left;
  display: flex;
  width: 900px;
  height: 500px;
  border-radius: 10px;
}

.div-detalle {
  padding: 2%;
}

.div-imagen {
  background-color: azure;
  height: 100%;
  width: 200px;
}

.card-img {
  /* object-fit: cover; */
  height: 150px;
}

.btn-inf {
  background-color: purple;
  color: white;
  height: 75px;
  width: 200px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #6c3483;
  font-size: 1em;
  
}

.btn-inf:hover {
  background-color: #8f38b2;
}
